/* COLORS */
$body-color: #000;
$secondary-color: #828282;
$theme-color: #dbdbdb;
$background-color: #fff;

//Parties
$podemos-color: #804688;
$masmadrid-color: #67e5da;
$psoe-color: #f41f16;
$ciudadanos-color: #f3661b;
$pp-color: #48aafd;
$vox-color: #92d34e;