/* HELPERS */
.block {display: block;}
.block-desktop {display: block;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.relative {position: relative;}
.no-margin {
	&--bottom {margin-bottom: 0;}
	&--top {margin-top: 0;}	
}
.color {color: $theme-color;}

.ec_visit_pixel {position: absolute;}