@import '../../common_projects_utilities/css/reset',
		'../../common_projects_utilities/css/font-awesome',
        './components/fonts.scss',
        './components/colors.scss',
        './components/helpers.scss',
        './components/general.scss',
        './components/common.scss',
        './components/social-networks.scss',
        './components/footer.scss';

/* LAYOUT */
.container {
	width: 100%;
	max-width: 972px;
	margin: 0 auto;
}
.row {
	display: flex;
    &--column {flex-direction: column;}
	&--wrap {flex-wrap: wrap;}
	&--center {justify-content: center;}
	&--between {justify-content: space-between;}
	&--end {justify-content: flex-end;}
	&--astart {align-items: flex-start;}
	&--acenter {align-items: center;}
}
.column {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

/* TOPBAR */
.topbar {
	padding: 16px 0 15px;
	border-bottom: 1px dotted;

    margin-bottom: 32px;
}

/* HEADER */
.header {
    &__main {
        &--pretitle {
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #000000;
            text-transform: uppercase;

            margin-bottom: 16px;
        }
        &--title {
            font-family: $playfair;
            font-size: 44px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.09;
            letter-spacing: -1px;
            text-align: center;
            color: #121212;

            width: 100%;
            max-width: 972px;

            margin: 0px auto 24px auto;
        }
        &--subtitle {
            width: 100%;
            max-width: 972px;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #828282;

            margin: 0px auto 32px auto;
        }
    }

    #map {
        width: 100%;
        max-width: 1920px;
        height: 650px;
        margin: 0 auto;

        position: relative;

        //Leyenda para mapa
        .legends {
            position: absolute;
            bottom: 52px;
            right: 40px;

            display: none;
            z-index: 9;

            &--active {
                display: initial;
            }

            .gradient-box {
                box-sizing: border-box;
                height: 221px;
                padding: 8px;
                background: rgba(#f6f6f6,.9);
                display: flex;
                
                &__labels {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-right: 8px;
                    height: 100%;
                }
                &__label {
                    font-weight: 500;
                    font-size: 12px;
                }
                &__value {
                    width: 8px;
                    height: 100%;
                    &--psoe {background: linear-gradient(#ea5458, rgba(#ea5458,0));}
                    &--vox {background: linear-gradient(#77be2d, rgba(#77be2d,0));}
                    &--masmadrid {background: linear-gradient(#20c0b2, rgba(#20c0b2,0));}
                    &--pp {background: linear-gradient(#48aafd, rgba(#48aafd,0));}
                    &--cs {background: linear-gradient(#f45a09, rgba(#f45a09,0));}
                    &--podemos {background: linear-gradient(#692772, rgba(#692772,0));}
            
                    &--participacion {background: linear-gradient(#0a202f, #e2f3fa);}
                    &--diferencias-2019 {background: linear-gradient(#2e6b77, #f1f0ea, #f08e89);}
            
                    &--bloque-ganador {background: linear-gradient(#e2c32a, #f1f0ea, #3c4554);}
                }
            }                
        }
    }
}

/* Filters */
.filters {
    /*position: absolute;
    bottom: 40px;
    left: 40px;
    height: 80px;
    z-index: 10;
    transition: padding-top .4s;
    &--opened {justify-content: center; height: 100%;}
    &--closed {
        justify-content: flex-end;
        padding-top: 40px;
        box-sizing: border-box;
    }
    &__container {
        width: 424px;
        background: $background-color;
        border-radius: 2px;
        box-shadow: 1px 2px 5px rgba(197,197,197,.5);
    }
    &__open {
        font-size: 12px;
        line-height: 1.67;
        color: #121212;
        height: 40px;
        max-height: 40px;
        overflow: hidden;
        cursor: pointer;
        transition: max-height .4s;
        .filters--opened & {max-height: 0;}
    }*/
    position: absolute;
    top: 0;
    left: 40px;
    //bottom: 40px;
    height: 100%;
    z-index: 10;
    transition: padding-bottom .4s;
    &--opened {justify-content: center;}
    &--closed {
        justify-content: flex-end;
        padding-bottom: 40px;
        box-sizing: border-box;
        pointer-events: none;
    }
    &__container {
        width: 424px;
        background: $background-color;
        border-radius: 2px;
        box-shadow: 1px 2px 5px rgba(197,197,197,.5);
        .filters--closed & {pointer-events: auto;}
    }
    &__open {
        font-size: 12px;
        line-height: 1.67;
        color: #121212;
        height: 40px;
        max-height: 40px;
        overflow: hidden;
        cursor: pointer;
        transition: max-height .4s;
        .filters--opened & {max-height: 0;}
    }
    &__icon {margin-left: 8px;}
    &__content {
        padding: 24px;
        max-height: 547px;
        overflow: hidden;
        transition: max-height .4s;
        .filters--closed & {
            max-height: 0;
            padding: 0;
        }
    }
    &__close {
        font-size: 12px;
        line-height: 1.67;
        color: rgba(#121212,.4);
        cursor: pointer;
    }
    &__header {
        margin-top: 24px;
        font-weight: 700;
        font-size: 15px;
        padding-bottom: 8px;
        border-bottom: 1px dotted;
        margin-bottom: 16px;
    }
    &__btn {
        background: $background-color;
        border: 0;
        padding: 0;
        cursor: pointer;
        width: 180px;
        height: 32px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 2px;
        box-shadow: 1px 2px 5px rgba(197,197,197,.5);
        margin-bottom: 16px;
        &:focus {outline: none;}
        &--active {
            background: $body-color;
            color: $background-color;
        }
        &--party {
            padding-left: 66px;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 50px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
        }
        &--podemos {
            &::before {background: $podemos-color}
        }
        &--masmadrid {
            &::before {background: $masmadrid-color}
        }
        &--psoe {
            &::before {background: $psoe-color}
        }
        &--ciudadanos {
            &::before {background: $ciudadanos-color}
        }
        &--pp {
            &::before {background: $pp-color}
        }
        &--vox {
            &::before {background: $vox-color}
        }
        &--full {
            width: 100%;
            margin-bottom: 0;
        }
    }
}

/* CONTENT */
/* Contenido (cajas de texto) */
.content {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	&__subtitle {
		margin: 80px 0 40px;
		
        max-width: 310px;

        font-size: 32px;
        font-weight: bold;
        line-height: 1.06;
        letter-spacing: normal;
        color: #000000;
	}
	&__link {
		font-weight: 700;
		color: #007ae6;
		transition: opacity .6s;
		&:hover {opacity: .6;}
	}
    &__viz {
        margin: 80px auto;
        &--title {
            max-width: 340px;

            font-size: 18px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #000000;

            margin-bottom: 16px;
        }
        &--source {
            font-size: 15px;
            font-weight: normal;
            color: #828282;

            margin-bottom: 40px;
        }
        &--legend {
            font-size: 15px;
            font-weight: 500;
            text-align: right;
            color: #000000;

            margin-bottom: 40px;
        }
        &--chart {
            width: 100%;
            height: 500px;
            background-color: #313131;
        }
    }
    &__summary {
        margin: 80px 0;
        font-family: $playfair;
        font-size: 28px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: -0.2px;
        color: #000000;

        padding-left: 16px;
        border-left: 4px solid $body-color;
        opacity: 0;
        visibility: hidden;
        &--animated {
            opacity: 1;
            visibility: visible;
            transition: opacity .6s, visibility .6s;
        }
    }
}

/* Credits */
.credits {
	margin: 80px auto 96px;
	&__item {
		font-size: 15px;
		line-height: 1.33;
		margin-bottom: 8px;
	}
	&__label {
		color: $secondary-color;
		margin-right: 8px;
	}
    strong {
        margin-right: 8px;
    }
}

/* Capital letter */
.capital-letter {
	float: left;
	font-family: $playfair;
	font-size: 46px;
	line-height: 1.04;
	letter-spacing: -1px;
	margin-right: 16px;
}

/* Media (images, videos) */
.media {
	margin: 80px auto;
    
	&--full {
		width: 100%;
        height: auto;
		//height: 500px;

        //background-color: #313131;
		
		img {
			width: 100%;
		}
	}
    &--half {        
        picture {
            width: 49%;
        }
    }
}


/* Cambio de estilos específicos para mapa de Mapbox */
.mapboxgl-ctrl-geocoder--input {
    font-size: 13px !important;
}

.mapboxgl-popup {
    font-family: 'Roboto';

    box-sizing: border-box;                
    pointer-events: none;

    opacity: 1;
    width: auto;
    min-width: 210px;
    &-content {
        background: #f5f5f5 !important;
        padding: 8px;

        //General - Textos
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: #000000;

        //Elementos CSS para secciones censales
        .widget__title {
            padding-bottom: 8px;
            border-bottom: .5px dotted #000;
            margin-bottom: 8px;

            font-size: 14px;
            font-weight: bold;

            //Lógica de corte
            // text-overflow: ellipsis;
            // overflow: hidden; 
            // width: 100%;
            // white-space: nowrap;
        }
        
        .b-fuerzas {
            &__title {
                font-size: 12px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.13px;
                text-align: left;
                color: #000000;
                opacity: .6;

                margin-bottom: 8px;
            }
            &__parties {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                box-sizing: border-box;

                font-size: 11px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.13px;
                text-align: left;
                color: #000000;

                div {
                    width: 50%;
                    margin-bottom: 8px;
                }
            }        
        }
        
        .bloques {
            margin-bottom: 8px;
            &__title {
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #000000;
                opacity: .6;

                margin-bottom: 8px;
            }
            &__items {
                display: flex;
                flex-direction: column;
                .bloque__item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 4px;
                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                    span:first-of-type {
                        width: 30px;
                        font-size: 12px;
                        color: #000000;
                        margin-right: 4px;
                    }
                    .bloque__bar {
                        height: 6px;
                        width: 10px;
                        max-width: 135px;
                        border-radius: 2px;
                    }
                    span:last-of-type {
                        font-size: 12px;
                        color: #000000;
                        margin-left: 4px;
                    }
                }
            }
        }

        .participation, .ganador2019 {
            font-size: 12px;        
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.13px;
            text-align: left;
            color: #000000;

            margin-bottom: 8px;

            &__title {
                font-weight: 500;
                opacity: .6;
            }

            .participation__title {margin-right: 12px;}
            .ganador2019__title {margin-right: 8px;}

            &__data {
                font-weight: bold;
            }
        }
    }
    &-tip {
        border-top-color: #e6e6e6 !important;
    }   
}

@media only screen and (max-width: 767px) {
    .row {
		&--mobile-column {flex-direction: column;}
	}

	.column {
		width: 100%;
		box-sizing: border-box;
		padding: 0 16px;
	}

    /* Header */
    .topbar {
        margin-bottom: 24px;
    }
    
    .header {
        &__main {
            padding: 0 16px;
            &--title {
                font-size: 32px;
            }
            &--subtitle {
                margin: 0px auto 24px auto;
            }
        }
        #map {
            width: 100%;
            height: 565px;

            .legends {
                position: absolute;
                top: 138px;
                right: 8px;
                z-index: 9;                
            }
        }
    }

    /* Aside */
    .top-logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
	}

	.share {
		box-sizing: border-box;
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}

    /* Filters */
    .filters {
        left: 0;
        width: 100%;
        box-sizing: border-box;
        //padding: 0 16px;
        &--closed {padding: 0 16px 32px;}
        &__container {width: 100%; }
        &__icon {margin-left: 16px;}
        &__content {
            padding: 16px;
            max-height: 531px;
        }
        &__btn {
            width: 164px;
            &--party {
                padding-left: 49px;
                &::before {left: 33px;}
            }
            &--full {width: 100%;}
        }
    }
    
    /* Content */
    .content {
        &__subtitle {
            margin: 72px 0 40px 0;
        }
        &__viz {
            margin: 64px auto;
            &--source {
                margin-bottom: 32px;
            }
        }
    }
    .credits {
        margin: 64px auto;
        &__item {
            margin-right: 0px;
            margin-bottom: 8px;
        }
    }

	.note {text-align: left;}    

    .media {
		margin: 64px 0;
        &--half {
            picture {
                width: 100%;
            }
            div:first-of-type {
                margin-bottom: 24px;
            }
        }
	}

	.summary {margin: 64px 0;}
}

//Específico para firmas
@media only screen and (max-width: 425px) {
    .credits {
        &__item {
            display: flex;
        }
        &__label {
            flex-grow: 0;
            min-width: 93px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .filters {
        &__btn {
            width: 48%;
            &--party {
                padding-left: 15%;
                &::before {left: calc(30% - 16px);}
            }
            &--full {width: 100%;}
        }
    }
}